/* RESET CSS*/
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* RESET CSS ENDING*/

/*  BEBASENEU REGULAR font */
    
    @font-face {
        font-family: 'BebasNeue';
        src: url('/assets/fonts/bebas/BebasNeueRegular.eot');
        src: url('/assets/fonts/bebas/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
             url('/assets/fonts/bebas/BebasNeueRegular.woff') format('woff'),
             url('/assets/fonts/bebas/BebasNeueRegular.ttf') format('truetype'),
             url('/assets/fonts/bebas/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    }

    @font-face {
        font-family: 'DoppioOne';
        src: url('/assets/fonts/DoppioOne/DoppioOne-Regular.eot');
        src: url('/assets/fonts/DoppioOne/DoppioOne-Regular.eot?#iefix') format('embedded-opentype'),
             url('/assets/fonts/DoppioOne/DoppioOne-Regular.woff') format('woff'),
             url('/assets/fonts/DoppioOne/DoppioOne-Regular.ttf') format('truetype'),
             url('/assets/fonts/DoppioOne/DoppioOne-Regular.svg#BebasNeueRegular') format('svg');
    }

/*  BEBASENEU REGULAR font-ending */

/*  UTILITY CLASSES */
    .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
/*  END UTILITY CLASSES */

body, html {    
    width:100%;
    min-height: 100%;
    font-family: DoppioOne, arial, sans-serif;
}

body{
    background: #202020 url("/images/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

.container {
    margin: auto;
    width: 1200px;
}

.navigation {
    background-color: #181818;
    padding: 15px 20px;
}

.navigation ul {
    float: right;
}

.navigation ul li {
    display: inline-block;
    list-style-type: none;
    font-size: 14px;
    padding: 5px 31px;

}

.navigation ul li:hover {
    background-color: #8f746c;
}

.navigation ul li a {
    color: #fff;
    text-decoration: none;
}

.marquee {
    background-image: url(/images/marquee_maximus.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 678px;
}

.marquee-content {
    margin: auto;
    width: 100%;
    padding: 203px;
    width: 539px;
    padding-bottom: 91px;
}

.marquee h1 {
    font-family: BebasNeue, arial, sans-serif;
    font-size: 73px;
    color: #fff;
    text-align: justify;
    text-shadow: 0px 2px 6px #999;
    margin: auto;
}

.marquee h1 span {
    font-size: 87px;
}

.marquee_icons {
    padding: 20px 0;
}

#icon2 {
    padding: 0 38px 0 38px;
}

#bestseller_header {
    position: absolute;
}

#product_detail_image {
    float: left;
    width: 47%;
    position: relative;
}

#product_detail_image #bestseller_bicycle {    
    width: 100%;
    height: 100%;   
}

#product-detail-text {
    background: #e6ddda;
    height: 330px;
    width: 596px;
    float: right;
    padding: 10px 0 5px 40px;
}

#product-detail-header {
    font-size: 23px;
    padding: 20px 0 10px 0;
}

.product-seller-name {
    font-size: 13px;
    font-style: italic;
    color: #987f77;
    padding: 0 0 45px;
}

#product-price-tag {
    font-size: 95px;
    padding: 0 0 10px 0;
}

.rating {
    padding: 18px 0;
}

#product-detail-text button {
    border: 4px solid #987f77;;
    padding: 13px 54px;
    font-size: 14px;
    color: #987f77;
    background: #e6ddda;
    float: left;
    margin-right: 55px;
}

#product-detail-text a {
    
}

/*  5 STAR RATING   */

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}

/*  END OF 5 STAR RATING    */

/*  STOP/START SLIDER   */

#slider          { background: white url(../images/slider-bg.jpg); height: 227px; overflow: hidden;
                   position: relative; margin: 50px 0; }
#mover           { width: 2880px; position: relative; }
.slide           { padding: 40px 30px; width: 900px; float: left; position: relative; }
.slide h1        { font-family: Helvetica, Sans-Serif; font-size: 30px; letter-spacing: -1px;
                   color: #ac0000; }
.slide p         { color: #999; font-size: 12px; line-height: 22px; width: 300px; }
.slide img       { position: absolute; top: 20px; left: 400px; }
#slider-stopper  { position: absolute; top: 1px; right: 20px; background: #ac0000; color: white;
                   padding: 3px 8px; font-size: 10px; text-transform: uppercase; z-index: 1000; }

/*  STOP/START SLIDER  END */